@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      /* overflow-x: hidden; */
}



body,html{
    width: 100vw;
    height: 100vh;

}

nav{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 z-index: 100;
}
.logo{
 font-size: 23px;
 margin-left: 3vw;
}

.option{
    display: flex;
    justify-content: center;
     gap: 80px;
     align-items: center;    
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.list a{
text-decoration: none;
color: black;
font-size: 15px;
}


.list a:hover{
    transform: translate(0,-5px);
    cursor: default;
}
.social{
    display: flex;
    font-size: 24px;
    margin-right: 3.5vw;
    gap: 20px;
}

.home{   
   /* background-image: url();
    background-size: contain ;
background-repeat: no-repeat;
transform: rotate(180deg); */
display: flex;
    width: 100vw;
  height: 93vh;
    
}

h2{
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    font-size: 30px;

}
h2 span{
    
    background-color: yellow;
}
p{

        font-family: "Varela Round", sans-serif;
        font-size: 14px;
        line-height: 20px;
        margin-left: 10px;
    text-wrap:balance;
        color: rgb(91, 89, 89);
        text-align: center;
        min-width: 400px;
      
}

.left{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right{
    width: 50vw;
    height: 100%;  
}


img{
    width: 400px;
    
}


.stroke{
position: absolute;
top:-50px;
right: -100px;
width: 700px;


}

.blob{
    width: 700px;
    position: absolute;
    top:-50px;
    right: -180px;

}

.panImg{
    width: 250px;
    height: 250px;
    position: absolute;
top:120px;
right: 80px;
    
    }


    h4{
        position: absolute;
        top:380px;
        right: 140px;

    }
h4 span{
  text-decoration: underline;
    font-size: 25px;
    font-weight: bold;

}
